<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.core.PortType">
      <portType
            hidden="true"
            name="Bounding Box"
            color="#FFC0CB"
            objectClass="org.knime.pythonportexample.core.BoundingBoxPortObject"
            objectSerializer="org.knime.pythonportexample.core.BoundingBoxPortObject$Serializer"
            specClass="org.knime.pythonportexample.core.BoundingBoxPortObjectSpec"
            specSerializer="org.knime.pythonportexample.core.BoundingBoxPortObjectSpec$Serializer">
      </portType>
   </extension>
   <extension point="org.knime.workbench.repository.nodes">
        <node
            category-path="/community"
            factory-class="org.knime.pythonportexample.core.node.BoundingBoxCreatorNodeFactory" />
    </extension>
</plugin>
