<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.knime.python3.types.PythonValueFactory">
      <Module
            modulePath="src/main/python" moduleName="knime.types.pythontypeexample">
         <PythonValueFactory
               PythonClassName="ExampleValueFactory"
               ValueFactory="org.knime.pythontypeexample.core.ExampleValueFactory"
               ValueTypeName="knime.types.pythontypeexample.ExampleValue">
         </PythonValueFactory>
      </Module>
   </extension>

</plugin>